VITE_FIREBASE_API_KEY=AIzaSyC5mcwNnfJnhMHpjayfwtn8byn0mj86pqs
VITE_FIREBASE_AUTO_DOMAIN=ai-studio-a67ed34f-6f84-4e0f-ae53-5ee58939e52e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-studio-a67ed34f-6f84-4e0f-ae53-5ee58939e52e
VITE_FIREBASE_STORAGE_BUCKET=ai-studio-a67ed34f-6f84-4e0f-ae53-5ee58939e52e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=586275517087
VITE_FIREBASE_APP_ID=1:586275517087:web:aded5d70fa0223a32328aa
SL_SECRET_TOKEN=
SUPABASE_URL=https://kwosiiddjwkajvatgudp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
GEMINI_API_KEY=
VITE_DISCORD_WEBHOOK_URL=

# SmartBots Configuration
SMARTBOTS_API_KEY=
SMARTBOTS_BOT_NAME=
SMARTBOTS_BOT_ACCESS_CODE=
SMARTBOTS_GROUP_UUID=
SMARTBOTS_EVERYONE_ROLE_UUID=00000000-0000-0000-0000-000000000000
